<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wally Forge</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/WallyForge.css" rel="stylesheet" />        
        <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
        <script src="js/table.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Wally Forge</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="text-center mt-5">
                    <h1>Welcome to Wally Forge blacksmith</h1>
                    <p class="lead">Select the best warrior equipments from the menu below</p>
                </div>
                <div id="results" class="col-lg-8 mb-5 order-2"></div>
                <div id="menu" class="col-lg-4 mb-5 order-1">
                    <form enctype="application/json" action="/post/json" method="post">
                        <div class="form-group">
                            <!-- da uma olhada nesse codigo-->
                            <select class="form-control" name="sec_n">
                                <option value="0">Swords</option>
                                <option value="1">Armor</option>
                                <option value="2">Breakfast</option>
                                <option value="3">Lunch</option>
                               <!--  <option value="4">Dinner</option> -->
                            </select>
                            <input class="form-control mt-3" type="text" name="item" placeholder="Item">
                            <input class="form-control mt-3" type="text" name="price" placeholder="Price">
                            <div class="d-grid gap-2"><button type="submit" class="btn btn-primary btn-block mt-3">Submit</button></div>
                        </div>
                    </form>
                    <div class="d-grid gap-2">
                    <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button></div>
                    <p class="text-muted text-center">To delete an entree, click the required row first</p>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
